ACTION!="add", GOTO="fanatec_end"
SUBSYSTEMS=="usb|input|hid", ATTRS{idVendor}=="0eb7", GOTO="fanatec_vendor"
GOTO="fanatec_end"

LABEL="fanatec_vendor"

# remove deadzone/fuzz
ATTRS{idProduct}=="0001|0004|0005|0006|0007|0011|0020|6204|0e03|0197",  ATTRS{idVendor}=="0eb7", RUN{program}+="/usr/bin/evdev-joystick --evdev $devnode --deadzone 0 --fuzz 0"
# set access rights
SUBSYSTEM=="usb|input|hid", GROUP:="plugdev"

LABEL="fanatec_end"
